<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605844819615-i95d2ub94fclh0lehc2e8fa4rq9gug02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605844819615-i95d2ub94fclh0lehc2e8fa4rq9gug02</string>
	<key>API_KEY</key>
	<string>AIzaSyCTbgl-DtRen113lkQIbrm5pmdIdcvfFVk</string>
	<key>GCM_SENDER_ID</key>
	<string>605844819615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fluid.uhere</string>
	<key>PROJECT_ID</key>
	<string>fluid-uhere</string>
	<key>STORAGE_BUCKET</key>
	<string>fluid-uhere.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605844819615:ios:91b4a1b6efb68fda875caa</string>
	<key>DATABASE_URL</key>
	<string>https://fluid-uhere.firebaseio.com</string>
</dict>
</plist>